/*Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: Arial;
  --url: url("./../../assets/slide-01-1920x640.jpg");
}
a, button, input{all: unset;}


/*other*/
.line{
  padding-bottom: 5px;
  border-bottom: #d9d9d9 1px solid;
}
.line-s{
  position: relative;
  display: inline-block;
}
.line-s:after {
  content: '';
  position: absolute;
  left: 50%; /* Center the line */
  bottom: -5px; /* Adjust the vertical position */
  width: 50px; /* Width of the underline */
  height: 2px; /* Height of the underline */
  background-color: #ff8600; /* Color of the underline */
  transform: translateX(-50%); /* Center the line relative to the text */
}

/*HELPERS*/
.row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover{
  /*BG*/
  background-image: var(--url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; /*for dark*/
}
.dark{
  position: relative;
}
.dark::before{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value for darkness */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}
.dark:hover::before {
  background-color: rgba(0, 0, 0, 0.35); /* Removes the dark overlay */
}

.m-1{
    margin: 1em;
}
/*Input*/
input, .btn {
  border-radius: 4px;
  padding: 10px;
}
input{
  background: white;
  color: #191919; /*<- placeholder ma divný opacity*/
}
/*buttons*/
.btn{
  background: #ff8600;
  color: white;
}
.btn:hover{
  filter: brightness(95%);
}
.btn-phone{
  width: 100%;
  text-align: center;
  justify-items: center;

  font-weight: bold;

  border-radius: 10px;
  border: #d9d9d9 1px solid;
  padding: 10px;
}

.btn-text{ font-weight: bold; }
.btn-text{ text-decoration: underline #ff8600; }

/*text*/
h1{color: #434345}
h2{color: #ff8600}
h3{color: #434345}
p{color: black}




footer{
  background: #191919;
  color: white;
}

#navigation{
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 10px 0px;
}

/*HERO*/
#hero{
  /*size*/
  height: 300px;
  /*.cover*/
  /*.center*/
  flex-direction: column;
  gap: 10px;
}
#hero div{
  color: white;
  font-size: 3em;
  font-weight: bold;
}
/*SECTIONS*/
#sections{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  margin-top: 10px;
}
#sections div{
  height: 200px;
}
#sections div div{
  /*.center*/
  flex-direction: column;
  position: relative; /* Position relative to stack above the overlay */
  z-index: 2; /* Higher z-index to be above the overlay */

  color: white;
}
#sections h1, h2{ all: unset; }
#sections h1{font-size: 2.5em; font-weight: bold;}
#sections h2{font-size: 1.5em;}

/*OFFERS*/
#offers{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;

  margin-top: 10px;
}
#offers a div.cover{
  height: 200px;
}
/*#offers a {display: inline-block;}*/
#offers h2{
  color: #ff8600;
  font-size: 1.8em;
  font-weight: bold;
  /*margin-bottom: 100px;*/
}
#offers h3{
  color: #434345;
  font-size: 1.3em;
}
#offers p{/*font-weight: bold;*/}

/*COSTUMERS*/
#costumers{
    display: grid;
    gap: 15px;

    margin-top: 10px;
}
.testimonial {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Adjust as needed */
}

.customer-photo {
  width: auto; /* Image width will be auto */
  height: 100%; /* Height will match the testimonial text */
  margin-right: 10px; /* Adjust space between image and text */
}

.testimonial-text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Aligns text and name vertically */
  justify-content: space-between; /* Spaces out text and name */
  flex-grow: 1; /* Ensures text box fills remaining space */
}
.testimonial-text div{
  color: #434345;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 5px;
}
.testimonial-text p{
    color: #434345;
    font-size: 1.2em;
}

/*FOOTER*/
#foot{padding: 30px 40px;}

footer h1, footer p{color: white;}
footer h1{font-size: 1.5em;}
footer h3{all: unset; color: #5f5f5f;}
#copyright{color: #606060}

/*NEWS-LETTER*/
/*footer input{flex-grow: 1;}*/
#news input{width: 280px;}
#news div{margin-bottom: 20px;}
#news{margin-bottom: 50px;}

/*LINKS*/
#links ul{list-style: none;}
#links ul li::before {
  content: "\2022";
  color: #ff8600;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
#links li{ padding-left: 1.5em;}
#links li:hover{text-decoration: underline;}
#links ul{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#links li{font-size: 1.2em;}
#links h1{margin-bottom: 15px;}
#links{margin-bottom: 50px;}

/*NEWS*/
#news-2{width: 60%; /*idk*/}
#news-2 h1{margin-bottom: 15px;}
#news-2 div{margin-bottom: 20px;}

/*CR*/
 #copyright{margin-top: 30px}

/*-------DESKTOP-------*/
@media (min-width: 1025px) {
  #sections{grid-template-columns: 1fr 1fr 1fr 1fr;}
  .margin{
    margin: 0px min(100px, 20%);
  }
  #costumers{
    grid-template-columns: 1fr 1fr;
  }
}